PV_EDGE_MANAGER_EDGE_ID=

PV_EDGE_MANAGER_FLEET_DISPATCH_INTERVAL_SECONDS=5
PV_EDGE_MANAGER_POWER_HISTORY_LIMIT=2880
PV_EDGE_MANAGER_POWER_HISTORY_MAX_BYTES=2147483648
PV_EDGE_MANAGER_POWER_HISTORY_QUERY_MAX_POINTS=720

PV_EDGE_MANAGER_MODBUS_TCP_SLAVE_ENABLED=true
PV_EDGE_MANAGER_MODBUS_TCP_SLAVE_UNIT_ID=1
